/* Navbar */
.navbar {
    position: relative;
    z-index: 1;
    background-color: bisque;
}

.navbar-brand {
    font-family: Viga;
    font-size: 32px;
}

.logo-img {
    width: 40px;
    height: 40px; 
}

/* Utility */
.tombol {
    text-transform: uppercase;
    border-radius: 40px !important;
}

/* gambar testimoni */
.centered-image {
    max-width: 100%;
    max-height: 100%;
}  

/* DESKTOP VERSION */
@media (min-width: 992px) {
    .navbar-brand, .nav-link {
        color: black;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        /* font-weight: bold !important; */
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover {
        background-color: red;
        border-radius: 15px;
    }

    /* .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    } */
}
